*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: black;
    color: white;
    padding: 16px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

article h3 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.articles article a{
    background-color: black;
    color: white;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration:underline;
}

.articles article p{
    font-size: 15px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 21px;
}

section h2{
    font-size: 27px;
}

#sports {
    background-color: rgba(0, 0, 255, 0.2);
}

#economy {
    background-color: rgba(143, 190, 90, 0.6);
}